.contact {
  padding-bottom: 2em;
  h2 {
    color: $green-color;
  }
  .my-contact {
    color: $white-color;
    height: 100%;
  }
  .email-state {
    color: $green-color;
    font-size: 0.9em;
    line-height: 1.8em;
  }
  button[type="submit"]:hover {
    filter: brightness(80%);
  }
  .fa-paper-plane {
    font-size: 0.9em;
    font-weight: 400;
    color: $dark-blue-color;
    display: block;
    width: 1.4em;
    float: left;
    margin-right: 0.6em;
    padding-top: 0.4em;
  }
  form {
    .form-control:focus {
      outline: none;
    }
    input:focus,
    textarea:focus,
    select:focus {
      outline: none;
      outline-width: 0;
    }
    input:invalid {
      border: 1px solid $red-color;
    }
    textarea:invalid {
      border: 1px solid $red-color;
    }
  }
}

.linkedin-contact {
  height: 35px;
  width: 35px;
  margin-right: 3em;
  background-image: url(https://res.cloudinary.com/drv58qoek/image/upload/v1640695354/portfolio/LinkedIn_sdbklf.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

.gitlab-contact {
  height: 35px;
  width: 35px;
  background-image: url(https://res.cloudinary.com/drv58qoek/image/upload/v1640695355/portfolio/gitlab-icon_s4sfkh.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}
