/* HEADER
---------------------------------------------- */

.nico-logo {
  height: 200px;
  width: 620px;
  background-image: url(https://res.cloudinary.com/drv58qoek/image/upload/v1640695397/portfolio/nico-logo-V2_skd77j.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 70%;
}

.resume {
  color: $white-color;
  padding-top: 2em;
  padding-bottom: 2em;

  h1 {
    font-size: 3.4rem;
    font-family: "Lato", sans-serif;
    margin-bottom: 1.2em;
    &:before {
      content: "#";
      font-family: "Lato", sans-serif;
      font-size: 2rem;
      font-weight: 500;
      color: $green-color;
      filter: brightness(95%);
    }
  }

  p {
    font-family: Lato;
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: justify;
    margin-bottom: 1.2em;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.gitlab-link {
  height: 60px;
  width: 60px;
  background-image: url(https://res.cloudinary.com/drv58qoek/image/upload/v1640695355/portfolio/gitlab-icon_s4sfkh.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}

/* RESPONSIVE
---------------------------------------------- */

@media only screen and (max-width: 575px) {
  .resume {
    p {
      font-size: 1em;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 576px) {
  .resume {
    p {
      font-size: 1.2em;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media only screen and (min-width: 1400px) {
}
